<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBqqfIs2fZ5GDDMe0aRtwFAvZBFN89gQc</string>
	<key>GCM_SENDER_ID</key>
	<string>958935861895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Serabrakova.travel-me</string>
	<key>PROJECT_ID</key>
	<string>travelme-46ed4</string>
	<key>STORAGE_BUCKET</key>
	<string>travelme-46ed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958935861895:ios:25db4377666dbd23de8622</string>
</dict>
</plist>